ECS_CLUSTER=${ecsClusterName}

ECS_ENGINE_AUTH_TYPE=docker
ECS_ENGINE_AUTH_DATA={"${dockerRegistryPull}":{"username":"${dockerRegistryUsername}","password":"${dockerRegistryPassword}", "email":"${dockerRegistryEmail}"}}

ECS_AVAILABLE_LOGGING_DRIVERS=["json-file","awslogs"]

ECS_LOGLEVEL=${ecsLogLevel}

AWS_DEFAULT_REGION=${aws_region}

AWS_ACCESS_KEY_ID=${runtimeAwsAccessKeyId}
AWS_SECRET_ACCESS_KEY=${runtimeAwsSecretAccessKey}