<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p [%t][%c] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info">
            <AppenderRef ref="STOUT"/>
        </Logger>
        <Logger name="com.customshow" level="debug">
            <AppenderRef ref="STOUT"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="STOUT"/>
        </Root>
    </Loggers>
</Configuration>